form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 50px;
  border: 1px solid #001529;
  border-radius: 10px;
}

input,
.ant-select {
  margin: 10px 0;
}
.form_errorMessage {
  color: red;
  font-size: 11px;
  margin-top: -10px;
}

.UserForm-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.userForm-btn {
  width: 100%;
  margin-bottom: 10px;
}
