.site-layout {
  justify-content: center;
  height: calc(100vh - 131px);
  align-items: center;
  overflow: auto;
}
.Layout-input-container {
  width: 70vw;
  height: 44px;
  display: flex;
  justify-content: center;
}
.Layout-search {
  height: 30px;
  width: 320px;
  text-align: center;
}
.ant-layout-header {
  display: flex;
}
